body {
    margin: 0;
    padding: 1em 4em;
}

a {
    color: #0084d1;
    text-decoration: none;
}

a:visited {
    color: #ab45d0;
}

a:hover {
    color: #4ebeff;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
}

table {
    float: left;
    margin: 1em 0;
}

table.directories {
    width: 20%;
}

table.files {
    width: 80%;
    border-left: 1px solid #ddd;
    border-right: 2px solid transparent;
}

th, td {
    padding: 0.5em 0;
}

tr > :first-child {
    padding-left: 1em;
}

tr > :last-child {
    padding-right: 1em;
}

table.directories tr:nth-child(odd) td {
    background: #eff4ff;
}

table.files tr:nth-child(odd) td {
    background-color: #f4f4f4;
}

tr:hover td:last-child {
    border-right: 2px solid #aaa;
}

table.directories th,
th.name,
th.type {
    text-align: left;
}

th.size,
td.size {
    text-align: right;
}
